* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 212, 212)
}

html, body {
    height: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-orange {
    color: #ff751a
}

.bg-orange {
    background-color: #ff751a;
}

.rupee-sign {
    font-family: 'Roboto', sans-serif;
}